.navbar {
	justify-content: center;
	text-decoration-color: black;
	background-color: white;
}

.visionationsHeader {
	text-align: center;
	font-family: 'Indie Flower';
	font-weight: bold;
	font-size: 4.75rem;
	background-color: white;
	background-image: url(background.jpeg);
}

body {
	background-color: white;
}



main {
/*  box-sizing: box;*/
 	background-color: white;
}

.column {
 	float: left;
}

.left {
	background-color: white;
	width: 40%;
}

.right {
	background-color: white;
	width: 60%;
}

.row {
	
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}




.yourVision {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	height: 25%;
  	width: 50%;
  	animation: backInLeft;
  	animation-duration: 1s;
  	background-color: white;

}

.yourImagination {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	height: 25%;
  	width: 50%;
  	animation: backInRight;
  	animation-duration: 1.5s;
  	background-color: white;

}

.visionationsGif {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	height: 37%;
  	width: 100%;
  	animation: backInUp;
  	animation-duration: 2s;
  	background-color: white;
}




.missionStatement {
	background-color: white;
	font-family: 'Shadows Into Light';
	font-size: 4rem;
	text-align: center;
	margin-top: 0%;
}

.servicesLabel {
	text-align: center;
	font-family: 'Shadows Into Light';
	font-size: 2rem;
	text-decoration: underline;
}

.services {
	text-align: center;
	font-family: 'Shadows Into Light';
	padding-top: 50px;
	font-size: 2rem;
}

.servicesContainer {
	border-width: 3px;
 	border-style: solid;
 	border-color: black;
 	margin-top: 3%;
 	margin-bottom: 0%;
 	margin-left: 2%;
 	margin-right: 2%;
}

.buttonHeader {
	font-family: 'Shadows Into Light';
	font-size: 2rem;
	margin-top: 3%;
}

.buttonContainer {
	margin-top: 70px;
	text-align: center;
}

.btn {
	font-size: 1.5rem;
	font-weight: 3rem;
	border-radius: 300px;
	text-transform: uppercase;
	margin-bottom: 20%;
}

.btn-primary {
	background-color: black;
	border-color: black;
}

.btn-primary:hover {
	background-color: lightgrey;
	border-color: lightgrey;
	border-width: 4px;
}

.btn-xl {
	padding: 1rem 2rem;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding-bottom: 0px;
	width: 100%;
	background-image: url(background.jpeg);;
	color: black;
	text-align: center;
	font-size: 1.5rem;
}

.footerText {
	margin-bottom: 0px;
}

.GitHub {
	height: 25px;
	width: 25px;
	margin-bottom: 5px;
}
